@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Raleway:wght@300&family=Volkhov&display=swap');

html {
  font-size: 12px;
}

body {
  font-family: "Raleway", sans-serif;
  color: #222;
  line-height: 1.5;
}

h1, h2, h4, h3 {
  font-family: "Merriweather", serif;
  font-weight: 900
}

h2, h4 {
  margin-top: 0;
}

img {
	height: 230px;
}

img { 
 float: right; 
 padding: 0 20px 20px 0;
}

aside, footer {
  border: 1px solid #9D4EA8;
  padding: 1em;
}

img {
  border: 1px solid #9D4EA8;
  padding: 1.5em;
  background-color: #713E89;
}

header {
  border: 1px solid #C8A2C8;
  padding: 1em;
  color: #713E89;
}

main {
  border: 0px solid #222;
  padding: 2em;
}

img {
  display: block;
}


header, main, article, section {
  background-color: #fff;
}

footer,aside {
  background-color: #713E89;
  color: #fff;
}

header {
  background-color: #C8A2C8;
}


a:link {
    color: purple;
}
a:visited {
    color: purple;
}
a:hover {
    color: red;
}
a:active {
    color: green;
}



* {box-sizing: border-box;}

    .wrapper {
        max-width: 960px;
        margin: 0 auto;
    }

    aside ul {
        list-style: none;
        margin: 2;
        padding: 0;
    }

footer ul {
        list-style: none;
        margin: 2;
        padding: 2;
    }

.wrapper {
  display: grid;
  grid-gap: 0.5px;
}

.wrapper > * {
  grid-column: col-start / span 12;
}

@media (min-width: 700px) {
  .main-aside {
    grid-column: col-start / span 2;
    grid-row: 2 / 4;
  }
  .content {
    grid-column: col-start 3 / span 8;
    grid-row: 2 / 4;
  }
  .img {
    grid-column: span 2;
    grid-row: 2/4;
  }
  .main-footer {
    grid-column: col-start / span 12;
  }
  aside ul {
    flex-direction: column;
  }
}

footer ul li{
  display: inline;
}